In [1]:
import pandas as pd
import numpy as np

In [2]:
df_2004 = pd.read_csv('DAWN_Data_2004.csv')
df_2005 = pd.read_csv('DAWN_Data_2005.csv')
df_2006 = pd.read_csv('DAWN_Data_2006.csv')
df_2007 = pd.read_csv('DAWN_Data_2007.csv')
df_2008 = pd.read_csv('DAWN_Data_2008.csv')
df_2009 = pd.read_csv('DAWN_Data_2009.csv')
df_2010 = pd.read_csv('DAWN_Data_2010.csv')
df_2011 = pd.read_csv('DAWN_Data_2011.csv')

C:\Users\91989\AppData\Local\Temp\ipykernel_2036\2177974387.py:6: DtypeWarning: Columns (8,13,16,17,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2009 = pd.read_csv('DAWN_Data_2009.csv')

In [3]:
# To check the unique values of each column
def uniques(df):
    
    for column in df.columns:
        
        print(f'\nProcessing Column is: {column}')
        
        # printing unique values in each column to see the cleanliness of the data
        unique_vals = df[column].unique() 
        print(f'\nThe unique values in column {column} are \n{unique_vals}')
    return

def FrequencyOfValues(df):
    
    for column in df.columns:
        
        print(f'\nProcessing Column is: {column}')
        
        # printing frequency of each values in column to check how many unwanted values are there
        count_values = df[column].value_counts()
        print(f'\nThe frequency of each value in column {column} is \n{count_values}')
    return

def mapping(df):
    
    # based on the codebook changing the integer codes to their corresponding values
    
    metro_mapping = {1:'MA',2:'NY',3:'IL',4:'MI',5:'MN',6:'FL',7:'TX',8:'LA',9:'CO',10:'AZ',11:'CA-SD',12:'CA-SF',13:'WA',14:'Other'}
    agecat_mapping = {1:'<=5',2:'6-11',3:'12-17',4:'18-20',5:'21-24',6:'25-29',7:'30-34',8:'35-44',9:'45-54',10:'55-64',11:'>=65',-8:'PNS'}
    sex_mapping = {1:'M',2:'F',-8:'PNS'}
    race_mapping = {1:'white',2:'black or african american',3:'hispanic or latino',4:'all other races',-8:'PNS'}
    casetype_mapping = {1:'suicide attempt',2:'seeking detox',3:'alcohol only(age < 21)',4:'adverse reaction',5:'overmedication',6:'malicious poisoning',7:'accidental ingestion',8:'other'}
    disposition_mapping = {1:'discharged home',2:'released to police/jail',3:'reffered to detox/treatment',4:'ICU/critical care',5:'surgery',6:'chemical dependency/detox, psychiatric unit',7:'other inpatient unit',8:'transferred',9:'left against medical advice',10:'died',96:'other',-8:'PNS'}
    
    df['METRO'] = df['METRO'].replace(metro_mapping)
    df['AGECAT'] = df['AGECAT'].replace(agecat_mapping)
    df['SEX'] = df['SEX'].replace(sex_mapping)
    df['RACE'] = df['RACE'].replace(race_mapping)
    df['CASETYPE'] = df['CASETYPE'].replace(casetype_mapping)
    df['DISPOSITION'] = df['DISPOSITION'].replace(disposition_mapping)
    
    return

In [4]:
uniques(df_2004)

Processing Column is: CASEID

The unique values in column CASEID are
[     1      2      3 ... 168839 168840 168841]

Processing Column is: METRO

The unique values in column METRO are
[ 4  9  6  3  7 10  2 12  5  1 14 13  8 11]

Processing Column is: STRATA

The unique values in column STRATA are
[55 15 25 24 53 30 39 26 18  9 13 21 27 23 44 19  8 41 35 12  5 29 22  1
 10 33 37 54 36 40 45 57 46  2 14 52 56 32 49 51  7 31  3 42 20 28  6 50
 38 16 58 47 48 11 17  4 43 34]

Processing Column is: PSU

The unique values in column PSU are
[209  50  93  90 193 112 144 100  58  30  43  67 101  76  92 168  87  77
  82  60  88  75  24 156 129  69 207  40  14 110  72   2  34  32 121 133
  31  68 197 131 150 200 154 201 103  23 171 217 204  61 176   5  49  45
 192 196 213 152 111 117 148  63 183  85   4  74  27  80 188 105  22 114
 104  59   6 158  66 167  46 107  97  78 122 175  51 108  19  65 115 184
 211 185 139 125  47  94  70 145 203 109   9 118 155 169 173 120 130 106
 163  35 214 123  95 134  33 191  29  64  99 151  55 198 124 132 102 140
 147  15 146  42 174  86 195  52 219  41  91  21 119  13 179 170   1  96
  79 172 199 157 180 210  89 149 215  83 153  98  53 181 164   7 141 116
  16  84  20  17  18  25  54 177 137  81 206 205  37  38  44   3  56 143
 138  10 160 127  62 202 182 128  28 187 166 135 142 212 218  57 208 186
 136  11  36  71   8 159 178 161 126 216 113  48  12  26 194  73 165 162
  39 190 189 220]

Processing Column is: REPLICATE

The unique values in column REPLICATE are
[1 2]

Processing Column is: CASEWGT

The unique values in column CASEWGT are
[1.30526832 1.01708215 1.59542284 ... 3.24237265 2.70279253 3.74359005]

Processing Column is: PSUFRAME

The unique values in column PSUFRAME are
[ 19   2   5  25  22   6   9   7   8  11  10 390  13   4   3 354  24 455
 518 218 710 447 324 534 115]

Processing Column is: AGECAT

The unique values in column AGECAT are
[ 5  3  6  9  8  7 10  1 11  4  2 -8]

Processing Column is: SEX

The unique values in column SEX are
[ 1  2 -8]

Processing Column is: RACE

The unique values in column RACE are
[ 1 -8  2  3  4]

Processing Column is: YEAR

The unique values in column YEAR are
[2004]

Processing Column is: QUARTER

The unique values in column QUARTER are
[3 2 4 1]

Processing Column is: DAYPART

The unique values in column DAYPART are
[4 1 3 2]

Processing Column is: NUMSUBS

The unique values in column NUMSUBS are
[ 1  2  4  5  3  6  7 12  8  9 11 10 13 15 14]

Processing Column is: CASETYPE

The unique values in column CASETYPE are
[1 8 2 4 5 3 7 6]

Processing Column is: DISPOSITION

The unique values in column DISPOSITION are
[ 6  1  7  2 96  3 -8  8  4  9  5 10]

Processing Column is: ALCOHOL

The unique values in column ALCOHOL are
[0 1]

Processing Column is: NONALCILL

The unique values in column NONALCILL are
[0 1]

Processing Column is: PHARMA

The unique values in column PHARMA are
[1 0]

Processing Column is: NONMEDPHARMA

The unique values in column NONMEDPHARMA are
[0 1]

Processing Column is: ALLABUSE

The unique values in column ALLABUSE are
[0 1]

In [5]:
uniques(df_2005)

Processing Column is: CASEID

The unique values in column CASEID are
[     1      2      3 ... 268126 268127 268128]

Processing Column is: METRO

The unique values in column METRO are
[ 3  2  4 14 12 11  1 10 13  8  9  5  6  7]

Processing Column is: STRATA

The unique values in column STRATA are
[53 51 35  3 12 26 25 31 49  9 33 34 32 17 37 41 19 24 54 46 28 40 10 39
 13  6 42 20  8 16 36 15  4 18 29 44 43  7  5 38 47 22 23 45  1 11 14 27
 21 48  2 50 52 30]

Processing Column is: PSU

The unique values in column PSU are
[214 206 139   8  50 102  99 120 201 103  35 126 136 131  51 122  66 148
 162  74  98 224 185 147 119   7 106 156  42  67 154 123 109   9  55  20
 168 221  36 152 217 138  77 145  31  65 198 142 117  61  96 118  13  39
 196  70 110 202 159 153 143 173 160 167 171  28 144  33  17  69 151 187
  90  62 186  93  94 179  12   1 140  18 220  78 158 184  81 175 188  46
 189 207 137  72  23  53  71  60  54 127 107 134 129 193 203 161 100 192
  10  97  19 104 181  79 165 125 213  40 216  32  87  59 180  49 195  56
 157  38 194 133  73 219 108  83  44  52  45 183 121 209 105  58  91 163
 141  15 111  64  92 124  43 149   4  24 205 101 215 170  95  34 178 155
 182 135 208 218  21  89  22  82  16 204 222 210  37 200 177 115  41  75
  30  29  14 146  68 130   2  63 150  76 174  25  11   3 116 114  57 199
  27 223  88  47  80 164   5  85 128 191 132 172   6 190 176 166  48 197
  84 211  26  86 113 169 112 212]

Processing Column is: REPLICATE

The unique values in column REPLICATE are
[1 2]

Processing Column is: CASEWGT

The unique values in column CASEWGT are
[4.00489387 2.18680002 2.92857206 ... 3.79139679 0.97360351 0.73599077]

Processing Column is: PSUFRAME

The unique values in column PSUFRAME are
[ 26   7   9 736   2   6  13  11  19  20  10  24   5   3 219 525 446 828
   8  22  15   4  18 389 116 484 359]

Processing Column is: AGECAT

The unique values in column AGECAT are
[ 6  8 10  9  5 11  4  3  1  7 -8  2]

Processing Column is: SEX

The unique values in column SEX are
[ 2  1 -8]

Processing Column is: RACE

The unique values in column RACE are
[ 1  2 -8  3  4]

Processing Column is: YEAR

The unique values in column YEAR are
[2005]

Processing Column is: QUARTER

The unique values in column QUARTER are
[4 1 2 3]

Processing Column is: DAYPART

The unique values in column DAYPART are
[4 2 3 1]

Processing Column is: NUMSUBS

The unique values in column NUMSUBS are
[ 2  1  3  4  7  5  6  9  8 11 10 12 13 15 14 16]

Processing Column is: CASETYPE

The unique values in column CASETYPE are
[8 2 4 5 3 1 7 6]

Processing Column is: DISPOSITION

The unique values in column DISPOSITION are
[ 1  6  3  4  7  2 -8  8 10 96  9  5]

Processing Column is: ALCOHOL

The unique values in column ALCOHOL are
[0 1]

Processing Column is: NONALCILL

The unique values in column NONALCILL are
[1 0]

Processing Column is: PHARMA

The unique values in column PHARMA are
[1 0]

Processing Column is: NONMEDPHARMA

The unique values in column NONMEDPHARMA are
[1 0]

Processing Column is: ALLABUSE

The unique values in column ALLABUSE are
[1 0]

In [6]:
uniques(df_2006)

Processing Column is: CASEID

The unique values in column CASEID are
[     1      2      3 ... 269337 269338 269339]

Processing Column is: METRO

The unique values in column METRO are
[ 1 10  3 14  2  4  5 13 11 12  8  7  9]

Processing Column is: STRATA

The unique values in column STRATA are
[ 7  9  6  3 49 16 18 48 25  2 42 13 35 31 44 43 14 37 36 28 22 15 29 32
 26 39 21 24 19  8 34 10 47 45 20 30 12  5  4 38  1 46 41 23 33 11 27 17
 40]

Processing Column is: PSU

The unique values in column PSU are
[ 29  40  19   7  20 204  25  73  84  23 201 115  18   3  72 181 116  57
 155 180 136 185 183  41  65 189 163 161 160 125  99 157  78 114  66 128
 142 178   5  36   9 118   8 169  95  26  30 113  87  38 151  43  28 198
  56 158 147 139 154 190 129  93  48  34  59 132  53  16  11  27 117 166
  71  22   2 197 150  94  45 168 191 127 140 152  91 187 193  37   6 175
 170 141  17  85  74  55  89  42 200  39  46 102  21  62 188   4  98 195
  24 199  75  58  32  31 156 202 153 104 119 144  88  12  64 177  60  63
 149  96  13 165 133  54  70 124 174 162 192 148  52 100  83 111 159 179
 106  67 101 164 196 130 135 184  10 109   1 182 176  51  86 121  33  44
 123 186 120 203 167  77 194 171 145  76 205 105 131 172  92 138 107 126
 103  47 122  35 108  14  82  15 146  61  81 112  90  69  80 173  97 143
  79 137 110 134  68  49  50]

Processing Column is: REPLICATE

The unique values in column REPLICATE are
[1 2]

Processing Column is: CASEWGT

The unique values in column CASEWGT are
[   1.53125643    4.97699359    2.97239522 ...    2.86065828 1492.864955
    5.62923476]

Processing Column is: PSUFRAME

The unique values in column PSUFRAME are
[ 20   7  26   6 222  19  13   9   8 754  12  10   4  14  25  22  15 452
   3  18 831 387   2   5 535 359 112 489]

Processing Column is: AGECAT

The unique values in column AGECAT are
[ 8  7 11  9  6  5  1  3 10  4  2 -8]

Processing Column is: SEX

The unique values in column SEX are
[ 2  1 -8]

Processing Column is: RACE

The unique values in column RACE are
[ 1  3 -8  2  4]

Processing Column is: YEAR

The unique values in column YEAR are
[2006]

Processing Column is: QUARTER

The unique values in column QUARTER are
[2 3 4 1]

Processing Column is: DAYPART

The unique values in column DAYPART are
[4 3 2 1]

Processing Column is: NUMSUBS

The unique values in column NUMSUBS are
[ 5  1  2  3  4  6  8  7 10  9 12 13 11 15 14 16]

Processing Column is: CASETYPE

The unique values in column CASETYPE are
[2 8 4 5 3 1 7 6]

Processing Column is: DISPOSITION

The unique values in column DISPOSITION are
[ 6  7  8  9  1  3 96  4  2 10  5 -8]

Processing Column is: ALCOHOL

The unique values in column ALCOHOL are
[1 0]

Processing Column is: NONALCILL

The unique values in column NONALCILL are
[1 0]

Processing Column is: PHARMA

The unique values in column PHARMA are
[1 0]

Processing Column is: NONMEDPHARMA

The unique values in column NONMEDPHARMA are
[0 1]

Processing Column is: ALLABUSE

The unique values in column ALLABUSE are
[1 0]

In [7]:
uniques(df_2007)

Processing Column is: CASEID

The unique values in column CASEID are
[     1      2      3 ... 300981 300982 300983]

Processing Column is: METRO

The unique values in column METRO are
[13  4 14  3  9  7  2  1  5 11 10 12  8]

Processing Column is: STRATA

The unique values in column STRATA are
[32  2  1 20 34  8 15 16 29 18 43 31 44 25 22 45 26 37 33 47  4 41 42 39
 13 21 23 46 38  5 10 35 28 12  3  7 36 14 48 24 30 27 17 49 11  9  6 40
 19]

Processing Column is: PSU

The unique values in column PSU are
[ 29  44   4  50 121  73 165 149  25  89  23  58  91 115 156  30 128   2
  35 182  85 198  41  17 204 178   6 111 136  12 141 185 152 160  84 194
 167  27   8 196  46 201 134 150  62 195 186 205  49  95  82   9  54 137
 203 118 159 122  40 142  78 119   3  69 139 154 157  36  72 102 138  32
  31  51 187 169  21  39 164 163 125 143 103 202 114 162  33 197  13 153
  70 108 158 129  71 161  34   5  43 190  86 175  74 144 193 207 206  96
  55 183  37  53  92  10  45  19  63  56  99  80  68  38  77 146 200 176
 145  79 131  93 170 112  98 113 174  24 155  97 173 171 107 127  59 130
  67  16 101 124  14 109 184  18 172 116  42 126  57  15  48 100 168  83
 148 117 166  65 188 179  66 132  64  76 106  87 120 191 147  90  75  20
  94 110  61 192  47 105  22   1 180  81  28  26 199  11  88 189  52 140
 104 151  60 123 133 135 181 177   7]

Processing Column is: REPLICATE

The unique values in column REPLICATE are
[2 1]

Processing Column is: CASEWGT

The unique values in column CASEWGT are
[ 5.83072615  3.30304241 33.56255087 ... 36.70151275  3.41627225
  3.24962482]

Processing Column is: PSUFRAME

The unique values in column PSUFRAME are
[ 11   9 220  25 452 493   6   3  19  12  10   5   2   8  26  14   4 528
   7 833  21  20 112 385  18  16 757 364]

Processing Column is: AGECAT

The unique values in column AGECAT are
[ 6 10  9 11  5  8  7  3  1  4  2 -8]

Processing Column is: SEX

The unique values in column SEX are
[ 1  2 -8]

Processing Column is: RACE

The unique values in column RACE are
[ 3  2  1 -8  4]

Processing Column is: YEAR

The unique values in column YEAR are
[2007]

Processing Column is: QUARTER

The unique values in column QUARTER are
[1 2 4 3]

Processing Column is: DAYPART

The unique values in column DAYPART are
[2 1 3 4]

Processing Column is: NUMSUBS

The unique values in column NUMSUBS are
[ 1  3  2  5  4  6  9  8  7 11 12 14 10 15 13 16]

Processing Column is: CASETYPE

The unique values in column CASETYPE are
[4 8 1 2 5 3 7 6]

Processing Column is: DISPOSITION

The unique values in column DISPOSITION are
[ 1  6  2  8 96  7  3  9  5  4 -8 10]

Processing Column is: ALCOHOL

The unique values in column ALCOHOL are
[0 1]

Processing Column is: NONALCILL

The unique values in column NONALCILL are
[0 1]

Processing Column is: PHARMA

The unique values in column PHARMA are
[1 0]

Processing Column is: NONMEDPHARMA

The unique values in column NONMEDPHARMA are
[0 1]

Processing Column is: ALLABUSE

The unique values in column ALLABUSE are
[0 1]

In [8]:
uniques(df_2008)

Processing Column is: CASEID

The unique values in column CASEID are
[     1      2      3 ... 351695 351696 351697]

Processing Column is: METRO

The unique values in column METRO are
[ 5  2 13  3 12  1  4 11  7 14  9  8 10  6]

Processing Column is: STRATA

The unique values in column STRATA are
[26 24 38 22 45 34 33 53  2 48 27 12 28 37 52 49 42 36  3 43 17 50 16 14
 20 39 40 29 41 25 54 10  1 47 46  7 21 51 13 23 15  4 30 44 35 31 18 32
  5  9 11  6 19  8]

Processing Column is: PSU

The unique values in column PSU are
[ 21  53  54 148  56   2 211 216 219 126 220  72  11  15  83 131  34  37
  39  28  91 183 231 147  22  87 230 104 203  12 102  76 175  58 180  95
 156  32 110 112 134 120  33 116 150  30 132  50 107  52   3 172 144  98
  88  78   4 212  23 174 223 170 158 167 109 173  82  74 113 146 194 163
  48  67 213 179  85  96 171 155 136  70 128 185 111  49 103 204 106 143
 197 133  18 125 224 228 195 214 119 141 226  47  46  69  35  14  31 135
  17 165 153 207  90 229 189 121  40  93 162  27 202 227  44 152 115   8
  92 161 186 137 187  51 127  57 101  19 149 210 151 188  41  38   6  84
  55 168 208 201 160 129  79 178  65 117 215  62   1  99 130  89  10  63
  60  94 196 159  64  13 105 198  20 122 221   7 176  24 193  16 166 206
  68  42 222  45  97  77  43  25 118 182  80 190 123  75  86 164  59 192
 225 209 138 142  26 157 191 124  36   5 177  61 114 217 184  66 140 108
 218 181 100  71  73 139 145 154 199 169  81 205   9 200  29]

Processing Column is: REPLICATE

The unique values in column REPLICATE are
[1 2]

Processing Column is: CASEWGT

The unique values in column CASEWGT are
[ 5.37343173  1.12857182  1.78676972 ...  1.06063857 42.67314383
 25.37837058]

Processing Column is: PSUFRAME

The unique values in column PSUFRAME are
[ 12   7   8  26  17  10   9  18   6 442 539   3  11 830  14   4  25 378
  24   5  23  22 221  19   2 112 366 761 484]

Processing Column is: AGECAT

The unique values in column AGECAT are
[11  8  5  6  7 -8 10  4  9  1  3  2]

Processing Column is: SEX

The unique values in column SEX are
[ 2  1 -8]

Processing Column is: RACE

The unique values in column RACE are
[ 2  4 -8  1  3]

Processing Column is: YEAR

The unique values in column YEAR are
[2008]

Processing Column is: QUARTER

The unique values in column QUARTER are
[1 4 2 3]

Processing Column is: DAYPART

The unique values in column DAYPART are
[2 1 3 4]

Processing Column is: NUMSUBS

The unique values in column NUMSUBS are
[ 1  2  3  5  4 12  7  6  8 13 11 10  9 15 14 16]

Processing Column is: CASETYPE

The unique values in column CASETYPE are
[4 8 3 5 1 2 7 6]

Processing Column is: DISPOSITION

The unique values in column DISPOSITION are
[ 7  1  6  8  3  4  9  2 96 -8 10  5]

Processing Column is: ALCOHOL

The unique values in column ALCOHOL are
[0 1]

Processing Column is: NONALCILL

The unique values in column NONALCILL are
[0 1]

Processing Column is: PHARMA

The unique values in column PHARMA are
[1 0]

Processing Column is: NONMEDPHARMA

The unique values in column NONMEDPHARMA are
[0 1]

Processing Column is: ALLABUSE

The unique values in column ALLABUSE are
[0 1]

In [9]:
uniques(df_2009)

Processing Column is: CASEID

The unique values in column CASEID are
[     1      2      3 ... 380123 380124 380125]

Processing Column is: METRO

The unique values in column METRO are
[14  4  1  2  8  7  9 10 12  3  5  6 13]

Processing Column is: STRATA

The unique values in column STRATA are
[10 47 27 30 40 52  9 45 21 23 13 34 20 48 14 46  5 11 38 17 16 54  2 24
 29 51 53 26  3  1 55 19 44 32 37 43 42  7 25 28  6 39 36 22 35 50 49 41
 12  8 18  4 33 15 31]

Processing Column is: PSU

The unique values in column PSU are
[224 188  35  27 186 133 214  98  86 205  69  72 199 143  46 118 107 172
  41  24 171 116  68 129  28  45 130  79 181  34 110  50 187 167 139 222
  13  16  38 120 109  83 162 232 138 159 161 192  74  89 180 235  54 124
  19  65  56  63 166 136 178 157 135 142  23 152   2 217  36 169  81 103
 158 164 149 226  49 234  90 117 207  15 215 202  53  70  14 220  77  10
  40 209 182  88 210 147  48 141  93  22 156  91 113 206  80 119  99  76
 236  55  21 106 176 228 114 218  97 198  73 132  12 168  26 111   7 134
  96 201 154 108 102  59 150  82  25   8  66 200  30   3 170  58 194 197
  11 239 196 212 208  47 195  32 238   5 101 221 189 145 219  78 183  84
 127 163 185 204   9  75  31 229 184 225 240 137  87 237 179 155 112 104
  20  44  17 231 123 227 105 160 165 223  67  43 211 146  52 213 115 151
 175  62 121 191 193 190  64  71 177  42 100  85   4 233 148  39 126 140
  18   1  61 125 230   6  94 241 128  57 173 131  37 153  60  29  51 216
 242  92  95 203  33 174 122 144]

Processing Column is: REPLICATE

The unique values in column REPLICATE are
[1 2]

Processing Column is: CASEWGT

The unique values in column CASEWGT are
[58.94120101  1.38302608  4.50081143 ...  1.36371642  9.72704456
  1.29152486]

Processing Column is: PSUFRAME

The unique values in column PSUFRAME are
[1203   19   10    5    3  525    7    9  219    6   12    8  759   26
  439   16   21   11   18   25    4  374   14  112   23  481]

Processing Column is: AGECAT

The unique values in column AGECAT are
[ 6  8  4  1  7  9  3 10 11  5  2 -8]

Processing Column is: SEX

The unique values in column SEX are
[2 1 -8 '1' '2' '-8' ' ']

Processing Column is: RACE

The unique values in column RACE are
[ 1  2 -8  4  3]

Processing Column is: YEAR

The unique values in column YEAR are
[2009]

Processing Column is: QUARTER

The unique values in column QUARTER are
[3 2 1 4]

Processing Column is: DAYPART

The unique values in column DAYPART are
[4 3 1 2]

Processing Column is: NUMSUBS

The unique values in column NUMSUBS are
[2 1 3 7 9 5 4 6 10 14 8 12 11 16 13 17 15 18 19 21 20 '1' '4' '2' '3' '6'
 '5' '7' '8' '11' '17' '19' '9' '10' '15' '16' '13' '14' '21' '12' '22'
 '18' ' ' 22]

Processing Column is: CASETYPE

The unique values in column CASETYPE are
[4 8 3 5 2 7 1 6]

Processing Column is: DISPOSITION

The unique values in column DISPOSITION are
[ 1  3 10  7  4  8  6  9  2  5 96 -8]

Processing Column is: ALCOHOL

The unique values in column ALCOHOL are
[0 1 '0' '1' ' ']

Processing Column is: NONALCILL

The unique values in column NONALCILL are
[0 1 '0' '1' ' ']

Processing Column is: PHARMA

The unique values in column PHARMA are
[1 0 '1' '0' ' ']

Processing Column is: NONMEDPHARMA

The unique values in column NONMEDPHARMA are
[0 1 '1' '0' ' ']

Processing Column is: ALLABUSE

The unique values in column ALLABUSE are
[0 1 '1' '0' ' ']

In [10]:
FrequencyOfValues(df_2009)

Processing Column is: CASEID

The frequency of each value in column CASEID is
1         1
253415    1
253424    1
253423    1
253422    1
         ..
126707    1
126706    1
126705    1
126704    1
380125    1
Name: CASEID, Length: 380125, dtype: int64

Processing Column is: METRO

The frequency of each value in column METRO is
14    70057
2     58645
1     39526
4     39487
3     35241
13    28284
9     25819
5     21068
10    19808
8     12407
12    10757
6     10502
7      8524
Name: METRO, dtype: int64

Processing Column is: STRATA

The frequency of each value in column STRATA is
38    23568
29    19025
11    17165
42    16705
32    15096
48    14273
54    13304
9     12135
44    11681
26    11546
45    10943
50    10005
19     9413
51     8967
22     8132
47     7981
40     7962
55     7938
10     7503
27     7471
46     7434
23     7418
13     7277
14     7057
28     7014
2      6691
52     6297
17     6156
3      5965
37     5912
39     5682
34     5081
35     4988
21     4884
5      4756
6      4437
4      3979
16     3784
43     3775
24     3550
20     3329
7      3323
33     2831
53     2660
15     2185
30     2047
49     1817
8      1626
18     1610
1      1439
36     1349
41     1053
25      750
12      612
31      544
Name: STRATA, dtype: int64

Processing Column is: PSU

The frequency of each value in column PSU is
192    7004
220    6636
69     6148
46     5436
76     5353
       ...
125     119
174     115
122      88
242      83
64       72
Name: PSU, Length: 242, dtype: int64

Processing Column is: REPLICATE

The frequency of each value in column REPLICATE is
2    190072
1    190053
Name: REPLICATE, dtype: int64

Processing Column is: CASEWGT

The frequency of each value in column CASEWGT is
1.717695     5094
1.148994     4095
0.901318     3742
1.192264     3404
58.941201    2973
             ...
1.291525        3
1.356919        2
1.363716        2
1.551760        1
1.427668        1
Name: CASEWGT, Length: 2756, dtype: int64

Processing Column is: PSUFRAME

The frequency of each value in column PSUFRAME is
8       59807
9       39729
11      38558
10      35873
3       27781
26      25297
12      23499
6       18511
7       17631
5       16320
19      11960
1203     7503
219      7277
525      6297
439      6156
18       5965
374      5682
14       4988
759      4756
16       3784
4        3775
21       3550
112      1817
23       1626
25       1439
481       544
Name: PSUFRAME, dtype: int64

Processing Column is: AGECAT

The frequency of each value in column AGECAT is
 9     66553
 8     64442
 11    53442
 10    37591
 6     34178
 7     30044
 4     27041
 5     26494
 3     20417
 1     15898
 2      3872
-8       153
Name: AGECAT, dtype: int64

Processing Column is: SEX

The frequency of each value in column SEX is
1     175525
2     171685
1      16538
2      16217
-8       147
-8        12
           1
Name: SEX, dtype: int64

Processing Column is: RACE

The frequency of each value in column RACE is
 1    181937
 2     78747
-8     62325
 3     48293
 4      8823
Name: RACE, dtype: int64

Processing Column is: YEAR

The frequency of each value in column YEAR is
2009    380125
Name: YEAR, dtype: int64

Processing Column is: QUARTER

The frequency of each value in column QUARTER is
2    98655
1    98271
3    95322
4    87877
Name: QUARTER, dtype: int64

Processing Column is: DAYPART

The frequency of each value in column DAYPART is
3    121208
4    112865
2     83074
1     62978
Name: DAYPART, dtype: int64

Processing Column is: NUMSUBS

The frequency of each value in column NUMSUBS is
1     224808
2      80932
3      26128
1      21442
4       8678
2       7461
5       3117
3       2427
6       1337
4        817
7        691
8        386
9        309
5        266
10       208
11       178
6        152
16       136
12       134
13       110
14        86
7         71
15        68
8         36
10        18
17        18
9         17
16        15
11        14
19         8
18         8
14         8
21         8
15         8
13         7
20         7
19         2
12         2
22         2
17         1
21         1
22         1
18         1
           1
Name: NUMSUBS, dtype: int64

Processing Column is: CASETYPE

The frequency of each value in column CASETYPE is
4    160534
8    128408
5     32648
2     23051
1     15516
3     12938
7      5846
6      1184
Name: CASETYPE, dtype: int64

Processing Column is: DISPOSITION

The frequency of each value in column DISPOSITION is
 1     221085
 7      67225
 6      25597
 8      20157
 3      13399
 4      11205
 2       7309
 9       5281
 96      4224
-8       3231
 5       1129
 10       283
Name: DISPOSITION, dtype: int64

Processing Column is: ALCOHOL

The frequency of each value in column ALCOHOL is
0    280370
1     66987
0     26598
1      6169
          1
Name: ALCOHOL, dtype: int64

Processing Column is: NONALCILL

The frequency of each value in column NONALCILL is
0    241542
1    105815
0     22949
1      9818
          1
Name: NONALCILL, dtype: int64

Processing Column is: PHARMA

The frequency of each value in column PHARMA is
1    249677
0     97680
1     23700
0      9067
          1
Name: PHARMA, dtype: int64

Processing Column is: NONMEDPHARMA

The frequency of each value in column NONMEDPHARMA is
0    271567
1     75790
0     25620
1      7147
          1
Name: NONMEDPHARMA, dtype: int64

Processing Column is: ALLABUSE

The frequency of each value in column ALLABUSE is
1    185871
0    161486
1     17398
0     15369
          1
Name: ALLABUSE, dtype: int64

In [11]:
# dropping the row with empty values
df_2009 = df_2009.loc[df_2009['SEX'] != ' ']

In [12]:
FrequencyOfValues(df_2009)

Processing Column is: CASEID

The frequency of each value in column CASEID is
1         1
253415    1
253424    1
253423    1
253422    1
         ..
126706    1
126705    1
126704    1
126703    1
380125    1
Name: CASEID, Length: 380124, dtype: int64

Processing Column is: METRO

The frequency of each value in column METRO is
14    70057
2     58645
1     39525
4     39487
3     35241
13    28284
9     25819
5     21068
10    19808
8     12407
12    10757
6     10502
7      8524
Name: METRO, dtype: int64

Processing Column is: STRATA

The frequency of each value in column STRATA is
38    23568
29    19024
11    17165
42    16705
32    15096
48    14273
54    13304
9     12135
44    11681
26    11546
45    10943
50    10005
19     9413
51     8967
22     8132
47     7981
40     7962
55     7938
10     7503
27     7471
46     7434
23     7418
13     7277
14     7057
28     7014
2      6691
52     6297
17     6156
3      5965
37     5912
39     5682
34     5081
35     4988
21     4884
5      4756
6      4437
4      3979
16     3784
43     3775
24     3550
20     3329
7      3323
33     2831
53     2660
15     2185
30     2047
49     1817
8      1626
18     1610
1      1439
36     1349
41     1053
25      750
12      612
31      544
Name: STRATA, dtype: int64

Processing Column is: PSU

The frequency of each value in column PSU is
192    7004
220    6636
69     6148
46     5436
76     5352
       ...
125     119
174     115
122      88
242      83
64       72
Name: PSU, Length: 242, dtype: int64

Processing Column is: REPLICATE

The frequency of each value in column REPLICATE is
2    190072
1    190052
Name: REPLICATE, dtype: int64

Processing Column is: CASEWGT

The frequency of each value in column CASEWGT is
1.717695     5094
1.148994     4095
0.901318     3742
1.192264     3404
58.941201    2973
             ...
1.291525        3
1.356919        2
1.363716        2
1.551760        1
1.427668        1
Name: CASEWGT, Length: 2756, dtype: int64

Processing Column is: PSUFRAME

The frequency of each value in column PSUFRAME is
8       59807
9       39729
11      38557
10      35873
3       27781
26      25297
12      23499
6       18511
7       17631
5       16320
19      11960
1203     7503
219      7277
525      6297
439      6156
18       5965
374      5682
14       4988
759      4756
16       3784
4        3775
21       3550
112      1817
23       1626
25       1439
481       544
Name: PSUFRAME, dtype: int64

Processing Column is: AGECAT

The frequency of each value in column AGECAT is
 9     66552
 8     64442
 11    53442
 10    37591
 6     34178
 7     30044
 4     27041
 5     26494
 3     20417
 1     15898
 2      3872
-8       153
Name: AGECAT, dtype: int64

Processing Column is: SEX

The frequency of each value in column SEX is
1     175525
2     171685
1      16538
2      16217
-8       147
-8        12
Name: SEX, dtype: int64

Processing Column is: RACE

The frequency of each value in column RACE is
 1    181936
 2     78747
-8     62325
 3     48293
 4      8823
Name: RACE, dtype: int64

Processing Column is: YEAR

The frequency of each value in column YEAR is
2009    380124
Name: YEAR, dtype: int64

Processing Column is: QUARTER

The frequency of each value in column QUARTER is
2    98655
1    98271
3    95321
4    87877
Name: QUARTER, dtype: int64

Processing Column is: DAYPART

The frequency of each value in column DAYPART is
3    121208
4    112865
2     83073
1     62978
Name: DAYPART, dtype: int64

Processing Column is: NUMSUBS

The frequency of each value in column NUMSUBS is
1     224808
2      80932
3      26128
1      21442
4       8678
2       7461
5       3117
3       2427
6       1337
4        817
7        691
8        386
9        309
5        266
10       208
11       178
6        152
16       136
12       134
13       110
14        86
7         71
15        68
8         36
10        18
17        18
9         17
16        15
11        14
19         8
18         8
14         8
21         8
15         8
13         7
20         7
19         2
12         2
22         2
17         1
21         1
22         1
18         1
Name: NUMSUBS, dtype: int64

Processing Column is: CASETYPE

The frequency of each value in column CASETYPE is
4    160533
8    128408
5     32648
2     23051
1     15516
3     12938
7      5846
6      1184
Name: CASETYPE, dtype: int64

Processing Column is: DISPOSITION

The frequency of each value in column DISPOSITION is
 1     221084
 7      67225
 6      25597
 8      20157
 3      13399
 4      11205
 2       7309
 9       5281
 96      4224
-8       3231
 5       1129
 10       283
Name: DISPOSITION, dtype: int64

Processing Column is: ALCOHOL

The frequency of each value in column ALCOHOL is
0    280370
1     66987
0     26598
1      6169
Name: ALCOHOL, dtype: int64

Processing Column is: NONALCILL

The frequency of each value in column NONALCILL is
0    241542
1    105815
0     22949
1      9818
Name: NONALCILL, dtype: int64

Processing Column is: PHARMA

The frequency of each value in column PHARMA is
1    249677
0     97680
1     23700
0      9067
Name: PHARMA, dtype: int64

Processing Column is: NONMEDPHARMA

The frequency of each value in column NONMEDPHARMA is
0    271567
1     75790
0     25620
1      7147
Name: NONMEDPHARMA, dtype: int64

Processing Column is: ALLABUSE

The frequency of each value in column ALLABUSE is
1    185871
0    161486
1     17398
0     15369
Name: ALLABUSE, dtype: int64

In [13]:
# changing the string values to integer
df_2009['SEX'] = df_2009['SEX'].astype(int)
df_2009['NUMSUBS'] = df_2009['NUMSUBS'].astype(int)
df_2009['ALCOHOL'] = df_2009['ALCOHOL'].astype(int)
df_2009['NONALCILL'] = df_2009['NONALCILL'].astype(int)
df_2009['PHARMA'] = df_2009['PHARMA'].astype(int)
df_2009['NONMEDPHARMA'] = df_2009['NONMEDPHARMA'].astype(int)
df_2009['ALLABUSE'] = df_2009['ALLABUSE'].astype(int)

In [14]:
uniques(df_2009)

Processing Column is: CASEID

The unique values in column CASEID are
[     1      2      3 ... 380123 380124 380125]

Processing Column is: METRO

The unique values in column METRO are
[14  4  1  2  8  7  9 10 12  3  5  6 13]

Processing Column is: STRATA

The unique values in column STRATA are
[10 47 27 30 40 52  9 45 21 23 13 34 20 48 14 46  5 11 38 17 16 54  2 24
 29 51 53 26  3  1 55 19 44 32 37 43 42  7 25 28  6 39 36 22 35 50 49 41
 12  8 18  4 33 15 31]

Processing Column is: PSU

The unique values in column PSU are
[224 188  35  27 186 133 214  98  86 205  69  72 199 143  46 118 107 172
  41  24 171 116  68 129  28  45 130  79 181  34 110  50 187 167 139 222
  13  16  38 120 109  83 162 232 138 159 161 192  74  89 180 235  54 124
  19  65  56  63 166 136 178 157 135 142  23 152   2 217  36 169  81 103
 158 164 149 226  49 234  90 117 207  15 215 202  53  70  14 220  77  10
  40 209 182  88 210 147  48 141  93  22 156  91 113 206  80 119  99  76
 236  55  21 106 176 228 114 218  97 198  73 132  12 168  26 111   7 134
  96 201 154 108 102  59 150  82  25   8  66 200  30   3 170  58 194 197
  11 239 196 212 208  47 195  32 238   5 101 221 189 145 219  78 183  84
 127 163 185 204   9  75  31 229 184 225 240 137  87 237 179 155 112 104
  20  44  17 231 123 227 105 160 165 223  67  43 211 146  52 213 115 151
 175  62 121 191 193 190  64  71 177  42 100  85   4 233 148  39 126 140
  18   1  61 125 230   6  94 241 128  57 173 131  37 153  60  29  51 216
 242  92  95 203  33 174 122 144]

Processing Column is: REPLICATE

The unique values in column REPLICATE are
[1 2]

Processing Column is: CASEWGT

The unique values in column CASEWGT are
[58.94120101  1.38302608  4.50081143 ...  1.36371642  9.72704456
  1.29152486]

Processing Column is: PSUFRAME

The unique values in column PSUFRAME are
[1203   19   10    5    3  525    7    9  219    6   12    8  759   26
  439   16   21   11   18   25    4  374   14  112   23  481]

Processing Column is: AGECAT

The unique values in column AGECAT are
[ 6  8  4  1  7  9  3 10 11  5  2 -8]

Processing Column is: SEX

The unique values in column SEX are
[ 2  1 -8]

Processing Column is: RACE

The unique values in column RACE are
[ 1  2 -8  4  3]

Processing Column is: YEAR

The unique values in column YEAR are
[2009]

Processing Column is: QUARTER

The unique values in column QUARTER are
[3 2 1 4]

Processing Column is: DAYPART

The unique values in column DAYPART are
[4 3 1 2]

Processing Column is: NUMSUBS

The unique values in column NUMSUBS are
[ 2  1  3  7  9  5  4  6 10 14  8 12 11 16 13 17 15 18 19 21 20 22]

Processing Column is: CASETYPE

The unique values in column CASETYPE are
[4 8 3 5 2 7 1 6]

Processing Column is: DISPOSITION

The unique values in column DISPOSITION are
[ 1  3 10  7  4  8  6  9  2  5 96 -8]

Processing Column is: ALCOHOL

The unique values in column ALCOHOL are
[0 1]

Processing Column is: NONALCILL

The unique values in column NONALCILL are
[0 1]

Processing Column is: PHARMA

The unique values in column PHARMA are
[1 0]

Processing Column is: NONMEDPHARMA

The unique values in column NONMEDPHARMA are
[0 1]

Processing Column is: ALLABUSE

The unique values in column ALLABUSE are
[0 1]

In [15]:
uniques(df_2010)

Processing Column is: CASEID

The unique values in column CASEID are
[     1      2      3 ... 304108 304109 304110]

Processing Column is: METRO

The unique values in column METRO are
[ 4 10  8  2  3  7  5  9  1 13 14 12 11  6]

Processing Column is: STRATA

The unique values in column STRATA are
[24 16 13 22 12 43  6 31 47 11 26 15 36 20 45 18 25 38  3 39 30 10 42  2
 41 34 35  1 17 48 33 21  7 37 19  9  8 14 32 23 28 29 44 40  4 46 27  5]

Processing Column is: PSU

The unique values in column PSU are
[109  68  52 101  50 210  23 142 113 206 233  45 120  64 169 207  91 215
 217 170  77 118 119  49 173 183 121 112 205   9 232 188 177 137  41 176
 203   6 196 154  11 158   1  62  71  40 237   7 151 185 166  99  26 198
 114 155 182  69  81 149  97 208  32  19  61  90  29  84  60 222 186  85
  87 202 153 175 231 102  21 194  33 146 145 147 221 218  25 230  96 156
 106  47  53  94  46 127  28 184  63  20 110 133 157 115 162 116 213  43
 223  27 171  57  92 103 160 190 195  13  51 161 132   4  89  74  48  54
 107 179  35 128  42  82  10 199  56 159   3  72 201  22  17 228 164 235
  93 209 227 111 197  88 126  95  38  59  44 200 141 136  18 117  31  79
 150  75 226 139   5 152 220 189   8 125 105 219  36 135 163  16  37 130
  66  70 192  67 134 129 234 174 148 167  39 216   2 224 100  78 131  12
  86 172 168  65  14 180  24 211 229 123  58 181 165 138 108 225  76 212
 104  80 124 143 236  98 122  73 193  55 140 187 214  34  30 191 178  15
 204  83 144]

Processing Column is: REPLICATE

The unique values in column REPLICATE are
[2 1]

Processing Column is: CASEWGT

The unique values in column CASEWGT are
[ 2.56111538  2.54947105  6.54035685 ...  1.37140388  4.30074091
 21.30117952]

Processing Column is: PSUFRAME

The unique values in column PSUFRAME are
[   9    8    3   19   25    6    5   26   11   10  439   13   18   20
    2  782 1208   16   22  368   12    7  491  112   28  228  534]

Processing Column is: AGECAT

The unique values in column AGECAT are
[ 6 11  5  9  1  4  8 10  7  3  2 -8]

Processing Column is: SEX

The unique values in column SEX are
[ 1  2 -8]

Processing Column is: RACE

The unique values in column RACE are
[ 1  3  2 -8  4]

Processing Column is: YEAR

The unique values in column YEAR are
[2010]

Processing Column is: QUARTER

The unique values in column QUARTER are
[1 3 4 2]

Processing Column is: DAYPART

The unique values in column DAYPART are
[1 3 4 2]

Processing Column is: NUMSUBS

The unique values in column NUMSUBS are
[ 2  1  3  4  7  5  8 13  6 10 18 11  9 14 16 12 17 15 21 20 19]

Processing Column is: CASETYPE

The unique values in column CASETYPE are
[5 4 8 2 1 3 7 6]

Processing Column is: DISPOSITION

The unique values in column DISPOSITION are
[ 6  7  2  1  4  9 -8  8  3 96  5 10]

Processing Column is: ALCOHOL

The unique values in column ALCOHOL are
[1 0]

Processing Column is: NONALCILL

The unique values in column NONALCILL are
[0 1]

Processing Column is: PHARMA

The unique values in column PHARMA are
[1 0]

Processing Column is: NONMEDPHARMA

The unique values in column NONMEDPHARMA are
[1 0]

Processing Column is: ALLABUSE

The unique values in column ALLABUSE are
[1 0]

In [16]:
uniques(df_2011)

Processing Column is: CASEID

The unique values in column CASEID are
[     1      2      3 ... 229209 229210 229211]

Processing Column is: METRO

The unique values in column METRO are
[ 2  7 10  1 14  6 12  4 13  5  3  8  9 11]

Processing Column is: STRATA

The unique values in column STRATA are
[25 29  7  8 22 10  3 51 46 13 32 50 41 40  9 14 20 37 33 26 11 19 28 35
 38 21 24 43 48 30 23 12 36 15  2 17 45 34 31  4 42  6 27  5 39 18  1 49
 44 16 47]

Processing Column is: PSU

The unique values in column PSU are
[108 129  25  29  94  40   6 232   5 210  24  48 145 227 192 188  97  96
  36  58 109  87  98  59 172 148  27 115 184  43  79 126  85 114 165 176
  51  91 103  80  54 197 190  84 187 219 140 100   8  86 112   7 110  82
  47 166 116 152  64 225 170  30 200 175 137 118  28 185  34  60  37   4
  26  70 107 136 134 208 202 189 161 141  93 150   9 147 194  44  20  31
 162 196 163 182 146  52 120  14  19   3 149 179  99 159 181  72 101 128
   1  49 186 113 119 215  41  92  95  77 180 124 111   2  88  18 167 229
 160  53 102 183  61  55  63 222  71 164  32  50 206  45 217 218 195 223
 201 122  69  15  35 151 203 106 144 230  67  13 224 221  66 220  10 216
  65  42 156 125 178 213  46 226 153 171  17 132 133  75 231 117  89  81
 211 228 123 131  16 139  21  74  56 204  73 168 138 209 191  33  62  83
 205 177  76 199 173 214  38 169 130 233 105 198  39  11 193 142  22 104
 143 154 212 121  68 127  90 174 155  12 207  57  23 135  78 157 158]

Processing Column is: REPLICATE

The unique values in column REPLICATE are
[2 1]

Processing Column is: CASEWGT

The unique values in column CASEWGT are
[  0.94263541   5.99201069   4.72317187 ...   1.52063611 176.5010448
 191.1486439 ]

Processing Column is: PSUFRAME

The unique values in column PSUFRAME are
[   3    9    6   10  112    7   25    2   11  442  780    8   17  371
   28 1215   26   22   12   20  224   14    5  541   18  489]

Processing Column is: AGECAT

The unique values in column AGECAT are
[ 4 11  2  6  5  8  1  7  9 10  3 -8]

Processing Column is: SEX

The unique values in column SEX are
[ 1  2 -8]

Processing Column is: RACE

The unique values in column RACE are
[ 2  3 -8  1  4]

Processing Column is: YEAR

The unique values in column YEAR are
[2011]

Processing Column is: QUARTER

The unique values in column QUARTER are
[4 3 2 1]

Processing Column is: DAYPART

The unique values in column DAYPART are
[1 4 3 2]

Processing Column is: NUMSUBS

The unique values in column NUMSUBS are
[ 2  1  3  4  5  7 17  8  9 12 14 11  6 22 16 10 15 13 21 19 18 20]

Processing Column is: CASETYPE

The unique values in column CASETYPE are
[8 4 2 1 5 7 3 6]

Processing Column is: DISPOSITION

The unique values in column DISPOSITION are
[ 6  7  1  8  2 96  9  4  3 -8 10  5]

Processing Column is: ALCOHOL

The unique values in column ALCOHOL are
[1 0]

Processing Column is: NONALCILL

The unique values in column NONALCILL are
[1 0]

Processing Column is: PHARMA

The unique values in column PHARMA are
[0 1]

Processing Column is: NONMEDPHARMA

The unique values in column NONMEDPHARMA are
[0 1]

Processing Column is: ALLABUSE

The unique values in column ALLABUSE are
[1 0]

In [17]:
mapping(df_2004)
mapping(df_2005)
mapping(df_2006)
mapping(df_2007)
mapping(df_2008)
mapping(df_2009)
mapping(df_2010)
mapping(df_2011)

In [18]:
df_2004

,CASEID,METRO,STRATA,PSU,REPLICATE,CASEWGT,PSUFRAME,AGECAT,SEX,RACE,...,QUARTER,DAYPART,NUMSUBS,CASETYPE,DISPOSITION,ALCOHOL,NONALCILL,PHARMA,NONMEDPHARMA,ALLABUSE
0,1,MI,55,209,1,1.305268,19,21-24,M,white,...,3,4,1,suicide attempt,"chemical dependency/detox, psychiatric unit",0,0,1,0,0
1,2,CO,15,50,2,1.017082,2,12-17,F,PNS,...,2,1,1,other,discharged home,0,1,0,0,1
2,3,FL,25,93,2,1.595423,5,25-29,M,black or african american,...,2,3,2,other,discharged home,1,1,0,0,1
3,4,IL,24,90,2,3.697978,25,21-24,M,hispanic or latino,...,4,2,2,other,discharged home,1,1,0,0,1
4,5,TX,53,193,1,2.859101,22,45-54,M,white,...,1,3,1,other,discharged home,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168836,168837,MI,33,124,2,3.136721,9,18-20,F,PNS,...,4,4,1,other,discharged home,0,1,0,0,1
168837,168838,MN,23,81,2,3.486044,19,<=5,F,white,...,2,2,1,adverse reaction,discharged home,0,0,1,0,0
168838,168839,MN,21,70,1,6.697147,8,12-17,F,white,...,4,4,1,alcohol only(age < 21),discharged home,1,0,0,0,1
168839,168840,Other,32,118,2,215.800313,447,>=65,F,white,...,2,2,1,adverse reaction,discharged home,0,0,1,0,0
168840,168841,CO,20,66,1,1.103569,3,25-29,M,PNS,...,4,2,2,other,discharged home,1,0,1,1,1

In [19]:
df_2005

,CASEID,METRO,STRATA,PSU,REPLICATE,CASEWGT,PSUFRAME,AGECAT,SEX,RACE,...,QUARTER,DAYPART,NUMSUBS,CASETYPE,DISPOSITION,ALCOHOL,NONALCILL,PHARMA,NONMEDPHARMA,ALLABUSE
0,1,IL,53,214,1,4.004894,26,25-29,F,white,...,4,4,2,other,discharged home,0,1,1,1,1
1,2,NY,51,206,1,2.186800,7,35-44,F,black or african american,...,4,2,2,seeking detox,discharged home,1,1,0,0,1
2,3,MI,35,139,1,2.928572,9,35-44,F,PNS,...,1,2,1,adverse reaction,discharged home,0,0,1,0,0
3,4,NY,3,8,1,2.307630,9,35-44,F,PNS,...,2,4,1,adverse reaction,discharged home,0,0,1,0,0
4,5,Other,12,50,2,101.000540,736,55-64,F,white,...,1,2,1,adverse reaction,discharged home,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268123,268124,CO,36,142,1,1.159632,3,<=5,M,white,...,2,3,2,adverse reaction,other,0,0,1,0,0
268124,268125,Other,31,120,1,2.399979,13,35-44,M,white,...,3,4,2,suicide attempt,discharged home,1,0,1,0,1
268125,268126,FL,5,18,2,1.653076,15,25-29,M,PNS,...,1,3,1,other,discharged home,0,1,0,0,1
268126,268127,NY,3,9,2,2.543016,9,45-54,M,black or african american,...,2,3,1,other,other inpatient unit,0,1,0,0,1
268127,268128,AZ,28,107,1,0.926901,7,18-20,F,hispanic or latino,...,1,1,1,alcohol only(age < 21),discharged home,1,0,0,0,1

In [20]:
df_2006

,CASEID,METRO,STRATA,PSU,REPLICATE,CASEWGT,PSUFRAME,AGECAT,SEX,RACE,...,QUARTER,DAYPART,NUMSUBS,CASETYPE,DISPOSITION,ALCOHOL,NONALCILL,PHARMA,NONMEDPHARMA,ALLABUSE
0,1,MA,7,29,1,1.531256,20,35-44,F,white,...,2,4,5,seeking detox,"chemical dependency/detox, psychiatric unit",1,1,1,0,1
1,2,AZ,9,40,1,4.976994,7,30-34,M,hispanic or latino,...,3,3,1,other,other inpatient unit,0,1,0,0,1
2,3,IL,6,19,2,2.972395,26,>=65,M,PNS,...,3,2,1,adverse reaction,other inpatient unit,0,0,1,0,0
3,4,AZ,3,7,2,1.858320,6,35-44,F,white,...,2,3,2,seeking detox,transferred,1,1,0,0,1
4,5,IL,6,20,1,1.706800,26,45-54,M,hispanic or latino,...,3,4,1,adverse reaction,left against medical advice,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269334,269335,MA,44,187,1,2.109792,10,35-44,F,white,...,1,1,2,adverse reaction,discharged home,0,0,1,0,0
269335,269336,LA,28,125,1,0.846286,22,35-44,F,black or african american,...,3,2,3,other,discharged home,0,1,1,1,1
269336,269337,Other,42,180,2,104.836321,754,12-17,M,white,...,2,3,1,other,discharged home,0,1,0,0,1
269337,269338,IL,6,26,1,2.699768,26,<=5,F,black or african american,...,3,4,1,accidental ingestion,discharged home,0,0,1,0,0
269338,269339,TX,15,67,2,8.497812,15,18-20,M,hispanic or latino,...,2,4,1,overmedication,transferred,0,0,1,1,1

In [21]:
df_2007

,CASEID,METRO,STRATA,PSU,REPLICATE,CASEWGT,PSUFRAME,AGECAT,SEX,RACE,...,QUARTER,DAYPART,NUMSUBS,CASETYPE,DISPOSITION,ALCOHOL,NONALCILL,PHARMA,NONMEDPHARMA,ALLABUSE
0,1,WA,32,29,2,5.830726,11,25-29,M,hispanic or latino,...,1,2,1,adverse reaction,discharged home,0,0,1,0,0
1,2,MI,2,44,1,3.303042,9,55-64,M,black or african american,...,2,2,1,other,discharged home,0,1,0,0,1
2,3,Other,1,4,1,33.562551,220,45-54,F,white,...,4,1,1,suicide attempt,"chemical dependency/detox, psychiatric unit",0,0,1,0,0
3,4,IL,20,50,2,4.622412,25,>=65,M,white,...,2,3,1,adverse reaction,discharged home,0,0,1,0,0
4,5,Other,34,121,1,165.547692,452,21-24,M,black or african american,...,2,1,1,other,released to police/jail,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300978,300979,Other,27,124,2,136.387360,385,55-64,M,white,...,1,2,1,adverse reaction,discharged home,0,0,1,0,0
300979,300980,NY,39,185,2,2.755892,9,30-34,F,PNS,...,4,2,1,adverse reaction,discharged home,0,0,1,0,0
300980,300981,IL,41,45,2,2.708563,26,18-20,M,PNS,...,1,4,3,seeking detox,other inpatient unit,1,1,0,0,1
300981,300982,CO,13,78,1,1.233453,3,12-17,F,PNS,...,4,4,1,other,transferred,0,0,1,1,1
300982,300983,MI,2,203,2,2.793884,9,35-44,F,white,...,4,3,1,adverse reaction,discharged home,0,0,1,0,0

In [22]:
df_2008

,CASEID,METRO,STRATA,PSU,REPLICATE,CASEWGT,PSUFRAME,AGECAT,SEX,RACE,...,QUARTER,DAYPART,NUMSUBS,CASETYPE,DISPOSITION,ALCOHOL,NONALCILL,PHARMA,NONMEDPHARMA,ALLABUSE
0,1,MN,26,21,1,5.373432,12,>=65,F,black or african american,...,1,2,1,adverse reaction,other inpatient unit,0,0,1,0,0
1,2,NY,24,53,1,1.128572,7,35-44,F,all other races,...,4,1,1,adverse reaction,discharged home,0,0,1,0,0
2,3,WA,38,54,1,1.786770,8,21-24,M,black or african american,...,2,2,1,other,discharged home,0,1,0,0,1
3,4,IL,22,148,2,1.329842,26,25-29,F,black or african american,...,1,3,2,other,discharged home,1,1,0,0,1
4,5,NY,45,56,1,2.933942,17,30-34,F,PNS,...,4,3,2,adverse reaction,other inpatient unit,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351692,351693,MI,2,118,1,1.396474,18,>=65,M,white,...,1,1,1,adverse reaction,discharged home,0,0,1,0,0
351693,351694,MI,23,186,2,2.614033,8,45-54,M,white,...,1,3,2,other,discharged home,0,0,1,1,1
351694,351695,NY,53,88,1,2.535531,9,18-20,F,PNS,...,1,4,1,overmedication,discharged home,0,0,1,1,1
351695,351696,IL,25,59,1,3.368428,18,<=5,F,hispanic or latino,...,1,2,4,other,discharged home,0,0,1,1,1
351696,351697,NY,53,78,1,2.444156,9,21-24,F,white,...,1,4,1,adverse reaction,discharged home,0,0,1,0,0

In [23]:
df_2009

,CASEID,METRO,STRATA,PSU,REPLICATE,CASEWGT,PSUFRAME,AGECAT,SEX,RACE,...,QUARTER,DAYPART,NUMSUBS,CASETYPE,DISPOSITION,ALCOHOL,NONALCILL,PHARMA,NONMEDPHARMA,ALLABUSE
0,1,Other,10,224,1,58.941201,1203,25-29,F,white,...,3,4,2,adverse reaction,discharged home,0,0,1,0,0
1,2,MI,47,188,1,1.383026,19,35-44,M,black or african american,...,2,3,1,other,reffered to detox/treatment,0,1,0,0,1
2,3,MA,27,35,1,4.500811,10,18-20,M,white,...,1,1,1,alcohol only(age < 21),discharged home,1,0,0,0,1
3,4,Other,30,27,1,5.161360,5,<=5,F,PNS,...,1,4,1,overmedication,discharged home,0,0,1,1,1
4,5,NY,40,186,2,0.972520,3,30-34,M,black or african american,...,1,2,1,other,discharged home,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380120,380121,MI,38,168,1,1.841809,9,>=65,F,PNS,...,4,3,1,adverse reaction,other inpatient unit,0,0,1,0,0
380121,380122,MA,44,204,2,1.718199,10,18-20,M,white,...,2,1,1,alcohol only(age < 21),discharged home,1,0,0,0,1
380122,380123,MA,27,35,1,2.022822,10,35-44,M,white,...,3,3,2,seeking detox,transferred,0,1,0,0,1
380123,380124,AZ,16,166,1,3.953762,16,<=5,M,white,...,3,2,1,adverse reaction,discharged home,0,0,1,0,0
380124,380125,Other,20,143,1,3.952220,12,6-11,M,white,...,2,3,1,adverse reaction,discharged home,0,0,1,0,0

In [24]:
df_2010

,CASEID,METRO,STRATA,PSU,REPLICATE,CASEWGT,PSUFRAME,AGECAT,SEX,RACE,...,QUARTER,DAYPART,NUMSUBS,CASETYPE,DISPOSITION,ALCOHOL,NONALCILL,PHARMA,NONMEDPHARMA,ALLABUSE
0,1,MI,24,109,2,2.561115,9,25-29,M,white,...,1,1,2,overmedication,"chemical dependency/detox, psychiatric unit",1,0,1,1,1
1,2,AZ,16,68,2,2.549471,8,>=65,F,hispanic or latino,...,1,3,1,adverse reaction,other inpatient unit,0,0,1,0,0
2,3,LA,13,52,2,6.540357,9,21-24,M,black or african american,...,3,3,1,other,released to police/jail,0,0,1,1,1
3,4,NY,22,101,2,2.467445,9,45-54,F,hispanic or latino,...,1,4,2,other,"chemical dependency/detox, psychiatric unit",0,1,0,0,1
4,5,NY,12,50,2,1.038926,3,<=5,F,black or african american,...,4,1,1,adverse reaction,discharged home,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304105,304106,MI,24,112,1,2.510959,9,45-54,F,black or african american,...,2,3,1,suicide attempt,transferred,0,0,1,0,0
304106,304107,FL,14,59,1,1.833118,3,35-44,F,black or african american,...,3,3,2,other,other inpatient unit,0,0,1,1,1
304107,304108,LA,44,213,2,3.699503,28,55-64,F,white,...,4,2,1,adverse reaction,discharged home,0,0,1,0,0
304108,304109,CA-SF,2,6,2,1.546528,2,12-17,M,hispanic or latino,...,4,2,2,other,discharged home,1,1,0,0,1
304109,304110,NY,15,61,1,3.616160,8,55-64,M,hispanic or latino,...,4,3,3,other,discharged home,1,0,1,1,1

In [25]:
df_2011

,CASEID,METRO,STRATA,PSU,REPLICATE,CASEWGT,PSUFRAME,AGECAT,SEX,RACE,...,QUARTER,DAYPART,NUMSUBS,CASETYPE,DISPOSITION,ALCOHOL,NONALCILL,PHARMA,NONMEDPHARMA,ALLABUSE
0,1,NY,25,108,2,0.942635,3,18-20,M,black or african american,...,4,1,2,other,"chemical dependency/detox, psychiatric unit",1,1,0,0,1
1,2,NY,29,129,2,5.992011,9,>=65,M,hispanic or latino,...,3,4,1,adverse reaction,other inpatient unit,0,0,1,0,0
2,3,TX,7,25,1,4.723172,6,>=65,F,black or african american,...,4,3,1,adverse reaction,discharged home,0,0,1,0,0
3,4,AZ,8,29,2,4.080147,6,6-11,M,hispanic or latino,...,2,2,1,adverse reaction,other inpatient unit,0,0,1,0,0
4,5,MA,22,94,2,5.177709,10,25-29,M,hispanic or latino,...,3,4,3,other,transferred,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229206,229207,MN,20,85,2,4.203385,8,>=65,F,white,...,3,4,1,adverse reaction,discharged home,0,0,1,0,0
229207,229208,WA,26,111,2,4.215246,11,45-54,F,white,...,3,3,1,other,discharged home,0,0,1,1,1
229208,229209,MN,20,87,1,4.139613,8,35-44,F,PNS,...,3,4,1,adverse reaction,discharged home,0,0,1,0,0
229209,229210,IL,30,132,2,1.601442,26,<=5,F,black or african american,...,2,2,1,adverse reaction,discharged home,0,0,1,0,0
229210,229211,MI,48,214,1,5.261895,17,55-64,F,black or african american,...,1,1,1,adverse reaction,ICU/critical care,0,0,1,0,0

In [26]:
# creating a combined data of all years
df_2004_2011 = pd.concat([df_2004, df_2005, df_2006, df_2007, df_2008, df_2009, df_2010, df_2011], axis=0)

In [27]:
df_2004_2011['YEAR'].unique()

array([2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011], dtype=int64)

In [29]:
df_2004_2011

,CASEID,METRO,STRATA,PSU,REPLICATE,CASEWGT,PSUFRAME,AGECAT,SEX,RACE,...,QUARTER,DAYPART,NUMSUBS,CASETYPE,DISPOSITION,ALCOHOL,NONALCILL,PHARMA,NONMEDPHARMA,ALLABUSE
0,1,MI,55,209,1,1.305268,19,21-24,M,white,...,3,4,1,suicide attempt,"chemical dependency/detox, psychiatric unit",0,0,1,0,0
1,2,CO,15,50,2,1.017082,2,12-17,F,PNS,...,2,1,1,other,discharged home,0,1,0,0,1
2,3,FL,25,93,2,1.595423,5,25-29,M,black or african american,...,2,3,2,other,discharged home,1,1,0,0,1
3,4,IL,24,90,2,3.697978,25,21-24,M,hispanic or latino,...,4,2,2,other,discharged home,1,1,0,0,1
4,5,TX,53,193,1,2.859101,22,45-54,M,white,...,1,3,1,other,discharged home,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229206,229207,MN,20,85,2,4.203385,8,>=65,F,white,...,3,4,1,adverse reaction,discharged home,0,0,1,0,0
229207,229208,WA,26,111,2,4.215246,11,45-54,F,white,...,3,3,1,other,discharged home,0,0,1,1,1
229208,229209,MN,20,87,1,4.139613,8,35-44,F,PNS,...,3,4,1,adverse reaction,discharged home,0,0,1,0,0
229209,229210,IL,30,132,2,1.601442,26,<=5,F,black or african american,...,2,2,1,adverse reaction,discharged home,0,0,1,0,0
229210,229211,MI,48,214,1,5.261895,17,55-64,F,black or african american,...,1,1,1,adverse reaction,ICU/critical care,0,0,1,0,0